@use './value.scss';

.side-menu {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100dvh;
  width: 200px;
  background-color: value.$dark;
  h4,
  a {
    color: value.$white;
  }
  h1 {
    color: value.$middle;
    font-size: 36px;
    font-weight: 700;
    background-color: value.$white;
    padding: 10px;
  }
  h4 {
    font-size: 32px;
    font-weight: 700;
  }
  a {
    text-decoration: none;
    width: 70%;
    text-align: center;
    padding: 3px 5px;
    transition: 0.5s;
    cursor: pointer;
    &.active {
      box-shadow: 0 0 2px 5px value.$white;
      text-shadow: 0 0 5px value.$white;
      filter: brightness(1.5);
    }
    &:hover {
      color: value.$white;
    }
  }
}
